streamlit
python-dotenv
langchain
langchain-community
Pillow



# aiobotocore
# aiofiles
# aiohttp
# aioitertools
# aiosignal
# aiosqlite
# alabaster
# altair
# anyio
# appdirs
# applaunchservices
# appnope
# appscript
# archspec
# argon2-cffi
# argon2-cffi-bindings
# arrow
# asgiref
# astroid
# astropy
# asttokens
# async-lru
# async-timeout
# atomicwrites
# attrs
# Automat
# autopep8
# Babel
# backcall
# backoff
# backports.functools-lru-cache
# backports.tempfile
# backports.weakref
# bcrypt
# beautifulsoup4
# bidict
# binaryornot
# black
# bleach
# blinker
# bokeh
# boltons
# botocore
# Bottleneck
# Brotli
# brotlipy
# build
# cachetools
# certifi
# cffi
# chardet
# charset-normalizer
# chroma-hnswlib
# chromadb
# click
# cloudpickle
# clyent
# colorama
# colorcet
# coloredlogs
# comm
# constantly
# contourpy
# cookiecutter
# cryptography
# cssselect
# cycler
# cytoolz
# dask
# dataclasses-json
# datasets
# datashader
# datashape
# debugpy
# decorator
# defusedxml
# Deprecated
# diff-match-patch
# dill
# distributed
# distro
# docstring-to-markdown
# docutils
# docx2txt
# emoji
# entrypoints
# et-xmlfile
# executing
# faiss-cpu
# Faker
# fastapi
# fastjsonschema
# favicon
# filelock
# filetype
# flake8
# Flask
# flask-ngrok
# Flask-SocketIO
# Flask-SQLAlchemy
# flatbuffers
# fonttools
# frozenlist
# fsspec
# future
# fuzzywuzzy
# gensim
# geojson
# gitdb
# GitPython
# glob2
# gmpy2
# google-ai-generativelanguage
# google-api-core
# google-auth
# google-cloud-aiplatform
# google-cloud-bigquery
# google-cloud-core
# google-cloud-resource-manager
# google-cloud-storage
# google-crc32c
# google-generativeai
# google-resumable-media
# googleapis-common-protos
# greenlet
# grpc-google-iam-v1
# grpcio
# grpcio-status
# h11
# h5py
# HeapDict
# holoviews
# htbuilder
# httpcore
# httptools
# httpx
# huggingface-hub
# humanfriendly
# hvplot
# hyperlink
# idna
# imagecodecs
# imageio
# imagesize
# imbalanced-learn
# importlib-metadata
# importlib-resources
# incremental
# inflection
# iniconfig
# install
# intake
# intervaltree
# ipykernel
# ipython
# ipython-genutils
# ipywidgets
# isort
# itemadapter
# itemloaders
# itsdangerous
# jaraco.classes
# jedi
# jellyfish
# Jinja2
# jinja2-time
# jmespath
# joblib
# json5
# jsonpatch
# jsonpath-python
# jsonpointer
# jsonschema
# jsonschema-specifications
# jupyter
# jupyter_client
# jupyter-console
# jupyter_core
# jupyter-events
# jupyter-lsp
# jupyter_server
# jupyter_server_fileid
# jupyter_server_terminals
# jupyter_server_ydoc
# jupyter-ydoc
# jupyterlab
# jupyterlab-pygments
# jupyterlab_server
# jupyterlab-widgets
# kaleido
# keyring
# kiwisolver
# kubernetes
# langchain
# langchain-community
# langchain-core
# langchain-google-genai
# langchain-openai
# langdetect
# langsmith
# lazy_loader
# lazy-object-proxy
# Levenshtein
# linkify-it-py
# llama-index
# llvmlite
# lmdb
# locket
# lxml
# lz4
# Markdown
# markdown-it-py
# markdownlit
# MarkupSafe
# marshmallow
# matplotlib
# matplotlib-inline
# mccabe
# mdit-py-plugins
# mdurl
# mistune
# mmh3
# monotonic
# more-itertools
# mpmath
# msgpack
# multidict
# multipledispatch
# multiprocess
# munkres
# mypy-extensions
# nbclassic
# nbclient
# nbconvert
# nbformat
# nest-asyncio
# networkx
# nltk
# notebook
# notebook_shim
# numba
# numexpr
# numpy
# numpydoc
# oauthlib
# onnxruntime
# openai
# openapi-schema-pydantic
# openpyxl
# opentelemetry-api
# opentelemetry-exporter-otlp-proto-common
# opentelemetry-exporter-otlp-proto-grpc
# opentelemetry-instrumentation
# opentelemetry-instrumentation-asgi
# opentelemetry-instrumentation-fastapi
# opentelemetry-proto
# opentelemetry-sdk
# opentelemetry-semantic-conventions
# opentelemetry-util-http
# orjson
# overrides
# packaging
# pandas
# pandocfilters
# panel
# param
# parsel
# parso
# partd
# pathlib
# pathspec
# patsy
# pdf2image
# pdfminer
# pdfminer.six
# pdfplumber
# pep8
# pexpect
# pickleshare
# Pillow
# pip
# pkce
# pkginfo
# platformdirs
# plotly
# pluggy
# ply
# posthog
# poyo
# prometheus-client
# prompt-toolkit
# Protego
# proto-plus
# protobuf
# psutil
# ptyprocess
# pulsar-client
# pure-eval
# py-cpuinfo
# pyarrow
# pyasn1
# pyasn1-modules
# pycodestyle
# pycosat
# pycparser
# pycryptodome
# pyct
# pydantic
# pydeck
# PyDispatcher
# pydocstyle
# pyerfa
# pyflakes
# Pygments
# PyJWT
# pylint
# pylint-venv
# pyls-spyder
# pymdown-extensions
# Pympler
# pyodbc
# pyOpenSSL
# pyowm
# pyparsing
# pypdf
# PyPDF2
# pypdfium2
# PyPika
# pyproject_hooks
# PyQt5
# PyQt5-sip
# PyQtWebEngine
# pyrsistent
# PySocks
# pytest
# python-dateutil
# python-dotenv
# python-engineio
# python-iso639
# python-json-logger
# python-Levenshtein
# python-lsp-black
# python-lsp-jsonrpc
# python-lsp-server
# python-magic
# python-slugify
# python-snappy
# python-socketio
# pytoolconfig
# pytz
# pyviz_comms
# PyWavelets
# PyYAML
# pyzmq
# QDarkStyle
# qstylizer
# QtAwesome
# qtconsole
# QtPy
# queuelib
# rapidfuzz
# referencing
# regex
# requests
# requests-file
# requests-oauthlib
# requests-toolbelt
# responses
# rfc3339-validator
# rfc3986-validator
# rich
# rope
# rpds-py
# rsa
# Rtree
# s3fs
# safetensors
# scikit-image
# scikit-learn
# scipy
# Scrapy
# seaborn
# semver
# Send2Trash
# sentence-transformers
# sentencepiece
# service-identity
# setuptools
# shapely
# simple-websocket
# sip
# six
# smart-open
# smmap
# sniffio
# snowballstemmer
# sortedcontainers
# soupsieve
# Sphinx
# sphinxcontrib-applehelp
# sphinxcontrib-devhelp
# sphinxcontrib-htmlhelp
# sphinxcontrib-jsmath
# sphinxcontrib-qthelp
# sphinxcontrib-serializinghtml
# spyder
# spyder-kernels
# SQLAlchemy
# st-annotated-text
# stack-data
# starlette
# statsmodels
# streamlit
# streamlit-camera-input-live
# streamlit-card
# streamlit-embedcode
# streamlit-extras
# streamlit-faker
# streamlit-image-coordinates
# streamlit-keyup
# streamlit-toggle-switch
# streamlit-vertical-slider
# sympy
# tables
# tabulate
# tblib
# tenacity
# terminado
# text-unidecode
# textdistance
# threadpoolctl
# three-merge
# tifffile
# tiktoken
# tinycss2
# tldextract
# tokenizers
# toml
# tomlkit
# toolz
# torch
# torchvision
# tornado
# tqdm
# traitlets
# transformers
# Twisted
# typer
# typing_extensions
# typing-inspect


